<form action="/figures" method="post">

  <h2>New Landmark</h2>


  <label for="landmark_name">Landmark Name?</label><br>
  <input id="landmark_name" type="text" name="landmark[name]" /><br>

  <label for="landmark_year_completed">Landmark Year Completed?</label><br>
  <input id="landmark_year_completed" type="text" name="landmark[year_completed]" /><br>

  <%Figure.all.each do |figure|%>
    <input type="checkbox" name="landmark[figure_id]" id="figure_<%= figure.id %>" value="<%=figure.id%>"><%=figure.name%></input>
  <%end%>

  <input type="submit" value="Create New Landmark">
</form>
